[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==3.0.3"
Flask-SQLAlchemy = "==3.1.1"
SQLAlchemy = "==2.0.32"
Jinja2 = "==3.1.4"
MarkupSafe = "==2.1.5"
Werkzeug = "==3.0.3"
itsdangerous = "==2.2.0"
click = "==8.1.7"
gunicorn = "==22.0.0"
psycopg2-binary = "==2.9.9"
certifi = "==2024.7.4"

[dev-packages]
autopep8 = "==2.3.1"
pycodestyle = "==2.12.1"
pylint = "==3.2.6"
isort = "==5.13.2"

[requires]
python_version = "3.11"
