<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="static/main.css" />

    <style>
      * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        border: 0;
      }

      input[type="text"] {
        text-align: center;
        font-size: 2px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="inner_header">
        <div class="header_font">
          <div class="footer">
            <h1>Justice Through Code Final Project</h1>
            <!-- <h2>Enter Officer Name Or Badge Number</h2> -->
            <div class="searchbar">
              <form method="POST" action="/">
                <!-- <label for="officer">Enter Officer Name:</label> -->
                <input
                  type="text"
                  id="officer"
                  name="officer"
                  placeholder="Enter Officer Name Or Badge#"
                />
                <button type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
