<!DOCTYPE html>
<html>
<title>Community Partners</title>
	<head>
		<style>
			.container { 
  height: 500px;
  position: relative;
  border: 6px black; 
}
			.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
		</style>
	</head>
<div >
	 <center>
	<h1 ><p>Justice League WOW Project</p></h1>
	 </center>
</div>
	<body style="background-color: powderblue;">
	 <div class="container">  
	    <div class="center">
		    <form method="POST" action="/">
		    <h3>Please Enter the Officer name or badge number</h3>
		    <input type="text" name="officer" >
		    <input type="submit" value="Search">
		    </form>
	    </div>
	 </div>
	</body>
</html>


